:root {
  margin: 0;
  background-color:black;
}

.main {
  margin: 20px;
  padding: 10px;
    color:aliceblue;
  max-width: 300px;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
  a {
  color: blue;
  font-weight: bold;
  }
}

