<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="main">
        <form action="/submit" method="POST">
            <input type="text" name="title" placeholder="The Title goes here" class="title"><br>
            <input type="text" name="body" placeholder="This is where you type" class="body"><br>
            <button type="submit">Send</button>
        </form>

        <% cards.forEach(card => { %>
    <div class="Card">
        <h1><%= card.title %></h1>
        <p><%= card.body %></p>
        <div class="lastline"><a href="/submit/<%= card.id %>">Read More...</a>
        <form action="/delete/<%= card.id %>" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
        </div>
        </form>
    </div>
<% }) %>

    </div>
</body>
</html>
